<div fxLayout="row" fxLayoutAlign="center center" class="mt-5">
  <form name="ForgetForm" #ForgetForm="ngForm" (ngSubmit)='handlesubmit(ForgetForm)'>
    <mat-card class="example-card">
      <h4 class="text-center">forget</h4>
      <mat-form-field>
        <input matInput placeholder="email" type="text" name="email" ngModel required>
      </mat-form-field><br>
      <div>
        <button mat-flat-button color="primary" type="submit" [disabled]="ForgetForm.invalid">submit</button>
      </div>
    </mat-card>
  </form>
</div>