<div>
    <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="home-container">
        <!-- ProfilePic -->
        <div fxFlex>
          <img src="/assets/user2.png" alt="Photo of a users" class="employee-profile-picture">
        </div>
        <!-- Start-End Time Controls -->
        <div fxFlex fxLayoutGap="10px">
          <button (click)="starttime()" mat-raised-button color="accent">Start Time</button>
          <button (click)="endtime()" mat-raised-button color="accent">End Time</button>
        </div>
      </div>
</div>